.article-form {
  display: flex;
  flex-direction: column;
  // margin: 0 auto;
}
.form-container {
  margin: 0 auto;
  padding: 20px 70px
}
.title-field {
  font-size: 40px;
}
.body-field {
  height: 500px;
  
}
.title-container {
  display: flex;
  flex-direction: column;
}
.blurb-field {
  margin-top: 0px!important;
}
.article-form textarea {
  margin: 20px 30px;
  
}

textarea {
  resize: none;
}