.index-div {
  background-color: #fff;
  margin: 0;
  width: 100%;
}

.article-img {
  min-height: 100%;
  width: 140px;
  background-image: image_url("article-placeholder-img.png");
  background-repeat: repeat;
}
.preview-div {
  margin-bottom: 10px;
  width: 500px;
  height: 260px;
  position: relative;
  display: flex;
  padding: 0;
}
.preview-text {
  padding: 0 10px;
}
.article-title {
  color: #000;
  font-size: 25px;
  font-weight: 600;
}

.article-blurb {
  color: rgba(0,0,0,0.6);
}
.preview-bottom {
  color: rgba(0,0,0,0.8);
  font-size: 16px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;

}
.divider:after {
  content: '\00B7';
}