/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= ./forms.scss
 */

// // CSS Reset
// @import "base/reset.scss";
span,
div {
    font-family: Roboto;
}
body {
    margin: 0;
}

ul {
    list-style: none;
    font-family: Roboto;
}

button {
    background-color: rgb(3, 168, 124);
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 5px 12px;
    font-family: Roboto;
    height: 30px;
    width: fit-content;
    cursor: pointer;
}

button:hover {
    background-color: rgb(3, 155, 115);
}

button:disabled {
    background-color: rgba(10, 236, 176, 0.514);
    color: rgb(85, 84, 84);
    cursor: default;
}

.hoverable {
    background-color: white;
    border: 1px solid rgb(3, 168, 124);
    border-radius: 5px;
    font-family: Roboto;
    padding: 4px 12px;
    height: 30px;
    width: fit-content;
    line-height: 30px;
    cursor: pointer;
    color: rgb(3, 168, 124);    
}

a {
    text-decoration: none;
}

.hoverable:hover {
    color: rgb(3, 155, 115);
    border: 1px solid rgb(3, 155, 115);
}

.serif {
    font-family: "Playfair Display";
}
.dropdown-button {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.50);
}
.dropdown-button:hover {
    fill: rgba(0,0,0,0.85);
}
.hidden {
    display: none
}
//components
@import "components/*";