.userForm input {
    margin: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input:focus {
    outline: none;
}

.userForm>label {
    font-family: Roboto;
}

.invalid {
    background-color: #e89d99;
}

input {
    font-family: Roboto
}