nav {
  display: flex;
  justify-content: space-between;

}
.right-nav {
  vertical-align: middle;
}

.main-nav {
  border-bottom: 1px solid rgb(214, 209, 209);
  background-color: white;
  padding: 20px;

}

.logo {
  color: black!important;
  margin: 0 auto;
  font-size: 35px;
}