<!DOCTYPE html>
<html>
  <head>
    <title>Small</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
